@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #6C29C1;
  --color-secondary: #534564;
  --color-tiertiary: #50396F;

}

body {
  background-color: #F9EAFF;
  font-family: Arial, Helvetica, sans-serif;
}
